@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;

}

h1 {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}
.main {
    flex: 1;
}

.container-1 {
    display: flex;
    background-color: #1F2937;
    padding: 120px;
    justify-content: space-between;
}

.container-1 .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.container-1 .text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.container-1 .sign-up {
    background-color: #3882f6;
    padding: 10px 34px;
    border-radius: 12px;
    color: #f9faf8;
    font-weight: bold;
}

.container-1 .sign-up:hover {
    background-color: #25529b;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
}
.container-info {
    display: flex;
    gap: 60px;
}

.title {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 24px;
}

.container-2 .info {
    max-width: 200px;
    text-align: center;
}

.container-2 img {
    width: 100px;
    height: 100px;
}

.container-3 {
    display: flex;
    flex-direction: column;
    background-color:#e5e7eb;
    padding: 60px 120px;
}

.container-3 .quote {
    font-size: 36px;
    font-weight:300;
    color: #1f2937;
    margin-bottom: 16px;
}
.container-3 .author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.container-4 {
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 .box {
    background-color: #3882f6;
    padding: 40px 120px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

.container-4 .bold {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.container-4 .content {
    color: #E5E7Eb;
    font-size: 18px;
}

.container-4 .button {
    display: flex;
    flex-shrink: 0;
}
.container-4 .button .sign-up2 {
    padding: 8px 36px;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 12px;
    color: #f9faf8;
    font-weight: bold;
}

.container-4 .button .sign-up2:hover {
    background-color: #0d2f66;
}

.footer {
    display: flex;
    padding: 10px;
    background-color: #1F2937;
    color: #E5E7Eb;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
